body {
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 400px;
}
input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #4b96e0;
  margin-bottom: 2px;
}

button {
  color: white;
  background-color: #4b96e0;
  border: 1px solid #4b96e0;
  margin-top: 2px;
  padding: 12px 25px;
  font-weight: bold;
  cursor: pointer;
}

#delete-btn {
  color: #4b96e0;
  background-color: white;
}
#delete-btn:hover {
  color: white;
  background-color: #4b96e0;
}

ul {
  list-style: none;
  padding: 0px;
  margin-top: 10px;
}

li {
  margin-top: 5px;
}

li a {
  color: #4b96e0;
}
